@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}

@keyframes swipeUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the body */


html, body, main, footer{
    font-family: Jost, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    transition: 0.2s linear;
    color-scheme: dark;
}

body{
    overflow-y: scroll;
}

button{
    font-family: Jost, Arial, Helvetica, sans-serif;
}


div ,a{
    transition: 0.2s linear;
} 

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    pointer-events: none;
}

h1{
    font-weight: 600;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}


body{
    font-family: Jost, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    margin-left: 15vw;
}


header>div>nav{
    display: flex;
    flex-direction: column;
    width: moz-fit-content;
    width: 100%;
}

header>div>button{
    padding: 8px;
    background-color: black;
    border: none;
    text-align: left;
    font-family: Jost, Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-bottom: 0px;
    margin: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    transition: background-color .2s linear;
    position:  absolute;
    bottom: 0;
}

header>div>button:hover{
    background-color: #8b8b8b2d;
    transition: none;
}

img.profilePic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #8b8b8b2d;
}

header>div>button>div{
    padding-left: 12px;
    padding-right: 12px;
}

header>div>button>div>p{
    margin: 0px;
    color: white;
}



header>div>nav>a{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 18px;
    margin: 8px;
    border-radius: 24px;
    font-size: 20px;
    transition: background-color .2s linear;
}

header>div>nav>p{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 18px;
    margin: 8px;
    border-radius: 24px;
    font-size: 32px;

}

a>i{
    padding-right: 8px;
}


header>div>nav>a:hover{
    background-color: #8b8b8b2d;
    transition: none;
    text-decoration: none;
}

p.settingsButton{
    text-align: center;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 8px;
    border-radius: 50%;
}
p.settingsButton:hover{
    background-color: #8b8b8b2d;

}



.newchirp{
    min-width: 52px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    width: 90%;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
}

.newchirp:hover{
    background-color: rgb(132, 101, 255);
}

#postChirpButton{
    width: 100%;
    display: flex;
    justify-content: right;
}

#exploreChrip{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postChirp{
    min-width: 52px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    padding: 8px;
    display: flex;
}

.postChirp:hover{
    cursor: pointer;
    background-color: rgb(132, 101, 255);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    width: 100vw;
}

#feed, #feedCompose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chirp{
    padding: 12px;
    width: 35vw;
    border-radius: 8px;
}

.chirp>.chirp{
    width: 95%;
    margin: auto;
    
}
.chirpInfo{
    display: flex;
    flex-direction: row;
}
.chirpInfo>div{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.chirpInfo>div>p{
    margin: 0px;
    padding-left: 8px;
}

.chirpInteract{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-top: 1px rgb(56, 56, 56) solid;
}

#timelineSelect, .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
}

#timelineSelect>a, title>a{
    text-align: center;
    width: 50%;
    padding: 12px;
    border-bottom: 1px rgb(56, 56, 56) solid;
    border-top: none;
}

#timelineSelect>a:hover{
    background-color: #8b8b8b2d;
    cursor: pointer;
    text-decoration: none;
}


.selcted{
    border-bottom: 2px rgb(120, 86, 255) solid !important; 
}

.chirp:hover{
    background-color: #8b8b8b2d;
    cursor: pointer;
    transition: .2s linear;
}

#sideBar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    padding-right: 5vw;
    margin: 12px;
    margin-top: 24px;
    width: 20vw;
}

#sideBar>div{
    width: 100%;
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 12px;
}

#sideBar>div, #exploreTrends>div{
    width: 100%;
    margin-bottom: 24px;
    border-radius: 12px;
    background-color:#8b8b8b2d;
}

#sideBar>div>p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#sideBar>div>div{
    padding: 12px;
}

#exploreTrends>div>div{
    padding: 12px;
}

#whotfollow>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#whotfollow>div>div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

#whotfollow>div>div>div{
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

#whotfollow>div>div>div>p{
    margin: 0px;
}

#exploreTrends{
    display: flex;
    width: 100%;
}

a.followButton{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    border-radius: 12px;
    padding: 8px;
    height: fit-content;
}


#menuSettings{
    display: none;
    z-index: 5;
    position: absolute;
    bottom: 12px;
    flex-direction: column;
    background-color: #8b8b8b2d;
    padding: 12px;
    border-radius: 12px;
    width: 230px;
    margin-bottom: 72px;
}

.visible{
    display: flex !important;
}

.clickedDown{
    background-color: #8b8b8b2d;
}

.downNow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: auto;
    height: 100vh;
}

#signin{
    justify-content: center;
}

#login{
    background-color: #8b8b8b2d;
    padding: 12px;
    height: 94vh;
    border-radius: 8px;
}

footer{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border-top: #8b8b8b2d 1px solid;
    background-color: rgba(0, 0, 0, 0.646);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

}

footer>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

footer>div>a{
    font-size: 24px;

}

div#iconChirp>p{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding-left: 12px;
    padding-right: 18px;
    margin: 0px;
    border-radius: 24px;
    font-size: 24px;
}


.subText{
    color: #8b8b8b;
    margin-top: 0px;
}

.chirpInfo > p{
    margin: 0px;
    margin-left: 8px;
}

#trends>div>p{
    margin: 0px;
}

.noMoreChirps{
    text-align: center;
}

#composer>textarea{
    margin-top: 12px;
    width: 35vw;
    height: 150px;
    color-scheme: dark;
    background-color: #8b8b8b2d;
    resize: none;
    border: none;
    padding: 8px;
    font-size: 1em;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

#exploreer{
    display: flex;
    width: 35vw;
    margin-bottom: 8px;
}

#exploreer>textarea{
    margin-top: 12px;
    width: 100%;
    height: 1.5em;
    color-scheme: dark;
    background-color: #8b8b8b2d;
    resize: none;
    border: none;
    padding: 8px;
    font-size: 1em;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

div#notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 20vw;
    flex-direction: column;
}

div#notFound>p{
    text-align: center;
}

.mobileCompose{
    display: none;
    position: fixed;
    bottom: 64px;
    right: 18px;
    padding: 12px;
    background-color: rgb(120, 86, 255);
    border-radius: 20%;
}

.mobileCompose>a{
    text-decoration: none;
    color: whie;
}

.mobileCompose:hover{
    background-color: rgb(132, 101, 255);
}

.chirpsee{
    background-color: rgb(24, 15, 0);
    padding: 8px;
    border-radius: 4px;
}

#noMoreChirps{
    margin-bottom: 10%;
}

#highTraffic{
    width: 35vw;
    text-align: center;
    background-color: rgb(24, 15, 0);
    padding-left: 12px;
    padding-right: 12px;
    color:#8b8b8b;
    border-radius: 0px 0px 8px 8px;
}


@media only screen and (min-width: 891px) {
    footer>div{
        display: none;
    }
    div#iconChirp{
        display: none;
    }
    .mobileCompose{
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    aside#sideBar{
        display: none;
    }
    main{
        margin-left: 30vw;
    } 
    div.chirp{
        width: 50vw;
    }
    header{
        margin-left: 10vw;
    }
    #highTraffic{
        width: 96%;
    }

}

@media only screen and (max-width: 890px) {
    div#desktopMenu {
        display: none;
    }
    main{
        margin: 0px;
    }
    #feed, #feedCompose{
        width: 90vw;

    }
    header{
        padding: 0px;
        width: 0px;
    }
    div.chirp{
        width: 95%;
        border: none;
        border-bottom:#8b8b8b2d 1px solid;
    }
    div.chirp>div.chirp{
        width: 90%;
        border: #8b8b8b2d 1px solid
    }
    aside#sideBar{
        display: none;
    }
    #timelineSelect>a{
        border-top: none;
        border-left: none;
        border-right: none;
    }
    #exploreer, #composer{
        width: 100%;
    }

    #composer>textarea, #exploreer>textarea{
        width: 86vw;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    div#notFound{
        width: 80vw;
    }
    .mobileCompose{
        display: flex;
    }
    #feedCompose.swipe-up {
        animation: swipeUp 0.2s ease-out forwards;
    }
    #highTraffic{
        width: 96%;
    }
}
