/* Keyframe animation for swiping up */
@keyframes swipeUp {
    from {
        transform: translateY(100%); /* Move element downwards by its height */
        opacity: 0; /* Make element fully transparent */
    }

    to {
        transform: translateY(0); /* Reset element position */
        opacity: 1; /* Make element fully opaque */
    }
}

/* Font face */
@font-face {
    font-family: Jost; /* Font family */
    src: url(fonts/Jost.ttf); /* Font source */
}

/* Font face */
@font-face {
    font-family: Outfit; /* Font family */
    src: url(fonts/Satoshi.ttf); /* Font source */
}

.showLayoutBounds *{
    outline: 1px dotted red;
}

/* Global styles */
html,
body,
main,
footer {
    font-family: Jost, Arial, Helvetica, sans-serif; /* Font family */
    background-color: black; /* Background color */
    color: white; /* Text color */
    scroll-behavior: smooth; /* Smooth scrolling */
    color-scheme: dark; /* Dark color scheme */
}

body {
    overflow-y: scroll; /* Vertical overflow */
    overflow-x: hidden; /* Vertical overflow */
}

button {
    font-family: Jost, Arial, Helvetica, sans-serif; /* Font family */
    font-weight: normal;
}

/* Common styles for div and a elements */
div,
a {
    transition: 0.2s width linear; /* Transition */
}

/* Styles for emoji images */
img.emoji {
    height: 1em; /* Height */
    width: 1em; /* Width */
    margin: 0 .05em 0 .1em; /* Margins */
    vertical-align: -0.1em; /* Vertical alignment */
    pointer-events: none; /* No pointer events */
}

/* Styles for h1 */
h1 {
    font-weight: 600; /* Font weight */
}

/* Styles for links */
a {
    color: white; /* Text color */
    text-decoration: none; /* No underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
    cursor: pointer; /* Pointer cursor */
}

/* Additional body styles */
body {
    display: flex; /* Flex container */
    flex-direction: row; /* Row direction */
}

/* Styles for profile pictures */
img.profilePic {
    width: 48px; /* Width */
    height: 48px; /* Height */
    border-radius: 50%; /* Border radius */
    border: 2px solid #8b8b8b2d; /* Border */
}

/* Styles for links with icons */
a > i {
    padding-right: 8px; /* Right padding */
}

/* Styles for images within links */
a > img {
    height: 1em; /* Height */
    width: 1em; /* Width */
    margin: 0 .05em 0 .1em; /* Margins */
    vertical-align: -0.1em; /* Vertical alignment */
}

/* Styles for 'newchirp' class */
.newchirp {
    min-width: 52px; /* Minimum width */
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(120, 86, 255); /* Background color */
    width: 90%; /* Width */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: white; /* Text color */
}

.newchirp:hover {
    background-color: rgb(132, 101, 255); /* Background color on hover */
}

/* Styles for 'postChirpButton' */
#postChirpButton {
    width: 100%; /* Full width */
    display: flex; /* Flex container */
    justify-content: right; /* Right justify content */
}

/* Styles for 'exploreChirp' */
#exploreChirp {
    width: 100%; /* Full width */
    display: flex; /* Flex container */
    justify-content: space-between; /* Space between */
    margin-top: 4px;
    margin-bottom: 12px;
}
#postReply {
    width: 100%; /* Full width */
    display: flex; /* Flex container */
    color-scheme: dark; /* Dark color scheme */
    font-family: Jost, Arial, Helvetica, sans-serif; /* Font family */
    justify-content: center;
}

/* Styles for 'postChirp' class */
.postChirp{
    min-width: 52px; /* Minimum width */
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(120, 86, 255); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 12px; /* Border radius */
    font-size: 1em; /* Font size */
    padding: 8px; /* Padding */
    display: flex; /* Flex container */
    transition: .2s linear; /* Transition */
}

#saveDraftButton {
    min-width: 52px; /* Minimum width */
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(120, 86, 255); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 8px; /* Border radius */
    font-size: 1em; /* Font size */
    padding: 8px; /* Padding */
    transition: .2s linear; /* Transition */
}

.postChirp:hover, #saveDraftButton:hover {
    cursor: pointer; /* Pointer cursor */
    background-color: rgb(132, 101, 255); /* Background color on hover */
}

/* Styles for 'cancelChirp' class */
.cancelChirp{
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(255, 45, 45); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: rgb(247, 247, 247); /* Text color */
    border: none; /* No border */
    border-radius: 12px; /* Border radius */
    font-size: 1em; /* Font size */
    padding: 8px; /* Padding */
    display: flex; /* Flex container */
    transition: .2s linear; /* Transition */
    text-decoration: none; /* No underline */
}

#discardDraftButton {
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(255, 45, 45); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: rgb(247, 247, 247); /* Text color */
    border: none; /* No border */
    border-radius: 8px; /* Border radius */
    font-size: 1em; /* Font size */
    padding: 8px; /* Padding */
    transition: .2s linear; /* Transition */
    text-decoration: none; /* No underline */
}

.cancelChirp:hover {
    cursor: pointer; /* Pointer cursor */
    background-color: rgb(255, 71, 71); /* Background color on hover */
    text-decoration: none; /* No underline on hover */
}

 #discardDraftButton:hover {
    cursor: pointer; /* Pointer cursor */
    background-color: rgb(255, 71, 71); /* Background color on hover */
    text-decoration: none; /* No underline on hover */
}

/* Styles for main container */
main {
    display: flex; /* Flex container */
    flex-direction: column; /* Column direction */
    align-items: center; /* Center align items */
    width: 100vw; /* Full width */
}

/* Styles for timeline selection and title */
#timelineSelect,
.title {
    display: flex; /* Flex container */
    flex-direction: row; /* Row direction */
    width: 100%; /* Full width */
    position: sticky; /* Sticky position */
    top: 0; /* Top position */
    background-color: #00000080; /* Background color */
    -webkit-backdrop-filter: blur(20px); /* Webkit backdrop filter */
    backdrop-filter: blur(20px); /* Backdrop filter */
    z-index: 12; /* Z-index */
    padding: 8px;
    padding-bottom: 0px;
}

/* Styles for links within timeline selection */
#timelineSelect > a,
.title > a {
    text-align: center; /* Center alignment */
    width: 50%; /* 50% width */
    padding: 12px; /* Padding */
    border-bottom: 1px rgb(56, 56, 56) solid; /* Bottom border */
    border-top: none; /* No top border */
}

/* Styles for links within timeline selection on hover */
#timelineSelect > a:hover {
    background-color: #8b8b8b2d; /* Background color on hover */
    cursor: pointer; /* Pointer cursor */
    text-decoration: none; /* No underline */
}

/* Selected style */
.selcted {
    border-bottom: 2px rgb(120, 86, 255) solid !important; /* Selected border */
}

/* Hover style for chirp */
.chirp:hover {
    background-color: #8b8b8b2d; /* Background color on hover */
    cursor: pointer; /* Pointer cursor */
    transition: .2s linear; /* Transition */
}

/* Styles for explore trends */
#exploreTrends {
    display: flex; /* Flex container */
    width: 100%; /* Full width */
}

/* Styles for follow button links */
a.followButton {
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(120, 86, 255); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: white; /* Text color */
    border-radius: 12px; /* Border radius */
    padding: 8px; /* Padding */
    height: fit-content; /* Height based on content */
}

/* Styles for menu settings */
#menuSettings {
    display: none; /* Hidden by default */
    z-index: 5; /* Z-index */
    position: absolute; /* Absolute position */
    bottom: 12px; /* Bottom position */
    flex-direction: column; /* Column direction */
    background-color: #8b8b8b2d; /* Background color */
    padding: 12px; /* Padding */
    border-radius: 12px; /* Border radius */
    width: 230px; /* Width */
    margin-bottom: 72px; /* Bottom margin */
}

/* Visible style */
.visible {
    display: flex !important; /* Display as flex */
}

/* Clicked down style */
.clickedDown {
    background-color: #8b8b8b2d; /* Background color */
}

/* Styles for downNow */
.downNow {
    display: flex; /* Flex container */
    justify-content: center; /* Center justify content */
    align-items: center; /* Center align items */
    width: 40vw; /* Width */
    margin: auto; /* Center margin */
    height: 100vh; /* Full height */
}

/* Sign-in style */
#signin {
    justify-content: center; /* Center justify content */
}

/* Login style */
#login {
    background-color: #8b8b8b2d; /* Background color */
    padding: 12px; /* Padding */
    height: 94vh; /* 94% viewport height */
    border-radius: 8px; /* Border radius */
}

/* Footer styles */
footer {
    display: flex; /* Flex container */
    position: fixed; /* Fixed position */
    justify-content: center; /* Center justify content */
    align-items: center; /* Center align items */
    bottom: 0; /* Bottom position */
    left: 0; /* Left position */
    right: 0; /* Right position */
    padding-top: 8px; /* Top padding */
    padding-bottom: 8px; /* Bottom padding */
    padding-right: 12px; /* Right padding */
    padding-left: 12px; /* Left padding */
    border-top: #8b8b8b2d 1px solid; /* Top border */
    background-color: #00000080; /* Background color */
    -webkit-backdrop-filter: blur(20px); /* Webkit backdrop filter */
    backdrop-filter: blur(20px); /* Backdrop filter */
    z-index: 11; /* Z-index */
    padding-bottom: calc(8px + env(safe-area-inset-bottom));
}

/* Styles for footer div */
footer > div {
    display: flex; /* Flex container */
    justify-content: space-between; /* Space between */
    align-items: center; /* Center align items */
    width: 95%; /* 95% width */
}

/* Styles for footer links */
footer > div > a {
    font-size: 24px; /* Font size */
    padding: 1px; /* Padding */
    padding-left: 4px; /* Left padding */
    padding-right: 4px; /* Right padding */
    border-radius: 8px; /* Border radius */
}

/* Hover style for footer links */
footer > div > a:hover {
    background-color: #bdbdbd4f; /* Background color on hover */
}

/* Active style for footer links */
footer > div > a.active {
    box-shadow: 0 -2px 0 rgb(120, 86, 255); /* Box shadow */
    outline-offset: 12px; /* Outline offset */
    border-radius: 0px 0px 8px 8px; /* Border radius */
}

/* Styles for iconChirp image */
div#iconChirp > img {
    color: white; /* Text color */
    text-decoration: none; /* No underline */
    padding-bottom: 4px; /* Bottom padding */
    padding-top: 4px; /* Top padding */
    flex-grow: 1; /* Flex grow */
    width: fit-content; /* Width based on content */
    padding-left: 18px; /* Left padding */
    padding-right: 18px; /* Right padding */
    padding-top: 8px; /* Top padding */
    margin: 0px; /* Margin */
    border-radius: 0px; /* Border radius */
    font-size: 24px; /* Font size */
    height: 1.2em; /* Height */
    width: 1.2em; /* Width */
    margin: 0 .05em 0 .1em; /* Margins */
    vertical-align: -0.1em; /* Vertical alignment */
    pointer-events: none; /* No pointer events */
}

/* Subtext styles */
.subText {
    color: #8b8b8b; /* Text color */
    margin-top: 0px; /* Top margin */
    font-family: Jost;
}

/* Styles for chirp information paragraphs */
.chirpInfo> div > p {
    margin: 0px; /* Margin */
    margin-left: 8px; /* Left margin */
}

/* Styles for trends div */
#trends > div > p {
    margin: 0px; /* Margin */
}

/* Styles for composer textarea */
#composer > textarea {
    margin-top: 12px; /* Top margin */
    width: 35vw; /* Width */
    height: 150px; /* Height */
    color-scheme: dark; /* Dark color scheme */
    background-color: #8b8b8b2d; /* Background color */
    resize: none; /* No resizing */
    border: none; /* No border */
    padding: 8px; /* Padding */
    font-size: 1em; /* Font size */
    font-family: Outfit, Jost, Arial, Helvetica, sans-serif; /* Font family */
    border-radius: 8px; /* Border radius */
}

/* Styles for exploreer div */
#exploreer {
    display: flex; /* Flex container */
    width: 35vw; /* Width */
    margin-bottom: 8px; /* Bottom margin */
}

/* Styles for exploreer textarea */
#exploreer > textarea {
    margin-top: 12px; /* Top margin */
    width: 100%; /* Full width */
    height: 1.5em; /* Height */
    color-scheme: dark
    ; /* Dark color scheme */
    background-color: #8b8b8b2d; /* Background color */
    resize: none; /* No resizing */
    border: none; /* No border */
    padding: 8px; /* Padding */
    font-size: 1em; /* Font size */
    font-family: Jost, Arial, Helvetica, sans-serif; /* Font family */
    border-radius: 8px; /* Border radius */
}

#replyTo{
    display: flex;
    align-items: center;
    margin: auto;
}

#replyTo>.postChirp{
    height: fit-content;
    min-width: fit-content;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
} 


#menuSettings>a{
    text-decoration: none;
    color: white;
    padding-top: 8px;
    background-color: #00000000;
    padding-bottom: 8px;
    border-radius: 8px;
}

#menuSettings>a:hover{
    background-color: #00000033;
}

#menuSettings>a:hoer{
    text-decoration: none;
    color:#FFFFFF90;
}

/* Styles for composer textarea */
#replyTo> textarea {
    margin: 12px; /* Top margin */
    margin-top: 12px; /* Top margin */
    margin-right: 0px;
    width: 100%; /* Width */
    height: 1.5em; /* Height */
    color-scheme: dark; /* Dark color scheme */
    background-color: #8b8b8b2d; /* Background color */
    resize: none; /* No resizing */
    border: none; /* No border */
    padding: 8px; /* Padding */
    font-size: 1em; /* Font size */
    font-family: Jost, Arial, Helvetica, sans-serif; /* Font family */
    border-radius: 8px; /* Border radius */
}

/* Styles for notFound div */
div#notFound {
    display: flex; /* Flex container */
    justify-content: center; /* Center justify content */
    align-items: center; /* Center align items */
    height: 100%; /* 90% viewport height */
    width: 35vw;
    flex-direction: column; /* Column direction */
}

/* Styles for notFound paragraphs */
div#notFound > p {
    text-align: center; /* Center alignment */
}

/* Styles for signedOut div */
#signedOut {
    width: 35vw; /* Width */
    height: 80vh; /* 80% viewport height */
    display: flex; /* Flex container */
    flex-direction: column; /* Column direction */
    align-items: center; /* Center align items */
    justify-content: center; /* Center justify content */
    text-align: center; /* Center alignment */
}

/* Focus style for textarea */
textarea:focus {
    outline: none; /* No outline */
    background-color: #272727 !important; /* Background color */
}

#feed.thread{
    animation: swipeUp 0.25s forwards; /* Apply animation */
}

.modal {
    display: none;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px); /* Webkit backdrop filter */
    backdrop-filter: blur(20px); /* Backdrop filter */

}

h1, h2, h3, h4{
    font-weight: 500;
}

.modal-content {
    background-color: #292929;
    margin: 30vh auto; 
    padding: 20px;
    border: 1px solid #292929;
    width: fit-content; 
    border-radius: 12px;
    text-align: center;
}

.modal-button {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#replytotext{
    max-height: 10em;
}

.profileBanner{
    width: 100%;
    aspect-ratio: 3 / 1;
}

button{
    text-align: center;
}

#profileNav{
    display: flex;
    width: 100%;
}

#profileNav a{
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

#profileNav a:hover{
    background-color: #8b8b8b2d;
}

#accountStats{
    display: flex;
}

#accountStats>p{
    margin-right: 12px;
}

.draft{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.drafts-container>div>p{
    text-align: center;
}

.draft>p{
    display: flex;
    justify-content: space-between;
    word-break: break-all;
    width: 90%;
    text-align: left !important;
}

.draft>button{
    border-color: rgba(0, 0, 0, 0); /* Border color */
    background-color: rgb(255, 45, 45); /* Background color */
    margin-bottom: 4px; /* Bottom margin */
    margin-top: 4px; /* Top margin */
    text-align: center; /* Center alignment */
    color: rgb(247, 247, 247); /* Text color */
    border: none; /* No border */
    border-radius: 12px; /* Border radius */
    font-size: 1em; /* Font size */
    padding: 8px; /* Padding */
    transition: .2s linear; /* Transition */
    text-decoration: none; /* No underline */
}


.draft>button:hover{
    cursor: pointer; /* Pointer cursor */
    background-color: rgb(255, 71, 71); /* Background color on hover */
    text-decoration: none; /* No underline on hover */
}

#timelineSelect, #timelineSelect>a{
    transition: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.outdated{
 text-align: left !important;
 align-items: start !important;
 justify-content: start !important;
 margin: 24px;
 padding: 24px;
 width: auto !important; 
}

.buttonsOutdated{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}


.buttonsOutdated>a{
    margin-right: 12px;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}

.chirpLegacy{
    background-color: rgb(0, 107, 5);
}

.chirpLegacy:hover{
    background-color: rgb(0, 90, 5);
}

.helpCenter{
    background-color: rgb(120, 86, 255);
}

.helpCenter:hover{
    background-color: rgb(87, 59, 197);
}

pre{
    font-family: Outfit, Jost, Arial, Helvetica, sans-serif; /* Font family */
    white-space: normal;
    word-wrap: break-word;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}