@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}

html, body, main, footer{
    font-family: Jost, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    pointer-events: none;
}

h1{
    font-weight: 600;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}


body{
    font-family: Jost, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    padding-left: 15vw;
}


header>div>nav{
    display: flex;
    flex-direction: column;
    width: moz-fit-content;
    width: 100%;
}

header>div>button{
    padding: 8px;
    background-color: black;
    border: none;
    text-align: left;
    font-family: Jost, Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-bottom: 0px;
    margin: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    transition: background-color .2s linear;
    position:  absolute;
    bottom: 0;
}

header>div>button:hover{
    background-color: #8b8b8b2d;
    transition: none;
}

img.profilePic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px rgb(56, 56, 56) solid;
}

header>div>button>div{
    padding-left: 12px;
    padding-right: 12px;
}

header>div>button>div>p{
    margin: 0px;
    color: white;
}



header>div>nav>a{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 18px;
    margin: 8px;
    border-radius: 24px;
    font-size: 20px;
    transition: background-color .2s linear;
}

header>div>nav>p{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 18px;
    margin: 8px;
    border-radius: 24px;
    font-size: 32px;

}

a>i{
    padding-right: 8px;
}


header>div>nav>a:hover{
    background-color: #8b8b8b2d;
    transition: none;
    text-decoration: none;
}

p.settingsButton{
    text-align: center;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 8px;
    border-radius: 50%;
}
p.settingsButton:hover{
    background-color: #8b8b8b2d;

}



.newTweet{
    min-width: 52px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    width: 90%;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
}

.newTweet:hover{
    background-color: rgb(132, 101, 255);
}

#postChirpButton{
    width: 100%;
    display: flex;
    justify-content: right;
}

#searchChrip{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postChirp{
    min-width: 52px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    padding: 8px;
    display: flex;
}

.postChirp:hover{
    cursor: pointer;
    background-color: rgb(132, 101, 255);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    width: 100vw;
}

#feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tweet{
    border: 1px rgb(56, 56, 56) solid;
    padding: 12px;
    min-width: 35vw;
    max-width: 35vw;
}

.tweet>.tweet{
    min-width: unset;
    max-width: 35vw;
}
.tweetInfo{
    display: flex;
    flex-direction: row;
}
.tweetInfo>div{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.tweetInfo>div>p{
    margin: 0px;
    padding-left: 8px;
}

.tweetInteract{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-top: 1px rgb(56, 56, 56) solid;
}

#timelineSelect{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
}

#timelineSelect>a{
    text-align: center;
    width: 50%;
    padding: 12px;
    border-bottom: 1px rgb(56, 56, 56) solid;
    border-top: none;
}

#timelineSelect>a:hover{
    background-color: #8b8b8b2d;
    cursor: pointer;
    text-decoration: none;
}


.selcted{
    border-bottom: 2px rgb(120, 86, 255) solid !important; 
}

.tweet:hover{
    background-color: #8b8b8b2d;
    cursor: pointer;
    transition: .2s linear;
}

#sideBar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    padding-right: 5vw;
    margin: 12px;
    width: 20vw;
}

#sideBar>div{
    width: 100%;
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 12px;
}

#sideBar>div, #searchTrends>div{
    width: 100%;
    margin-bottom: 24px;
    border-radius: 12px;
}

#sideBar>div>div, #searchTrends>div>div{
    border: 1px rgb(56, 56, 56) solid;
    padding: 12px;
}

#whotfollow>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#whotfollow>div>div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

#whotfollow>div>div>div{
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

#whotfollow>div>div>div>p{
    margin: 0px;
}

#searchTrends{
    display: flex;
    width: 100%;
}

a.followButton{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(120, 86, 255);
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    border-radius: 12px;
    padding: 8px;
    height: fit-content;
}


#menuSettings{
    display: none;
    z-index: 5;
    position: fixed;
    left: 15vw;
    bottom: 9vh;
    flex-direction: column;
    background-color: black;
    border: #8b8b8b2d 2px solid;
    padding: 12px;
    border-radius: 12px;
    width: 12vw;
}

.visible{
    display: flex !important;
}

.clickedDown{
    background-color: #8b8b8b2d;
}

.downNow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: auto;
    height: 100vh;
}

#signin{
    justify-content: center;
}

#login{
    background-color: #8b8b8b2d;
    padding: 12px;
    height: 94vh;
    border-radius: 8px;
}

footer>div{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.646);
    border-top: #8b8b8b2d 1px solid;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    justify-content: space-between;
    align-items: center;
    width: 87vw;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer>div>a{
    font-size: 24px;

}

div#iconChirp>p{
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    padding-top: 4px;
    flex-grow: 1;
    width: fit-content;
    padding-left: 12px;
    padding-right: 18px;
    margin: 0px;
    border-radius: 24px;
    font-size: 24px;
}


.subText{
    color: #8b8b8b;
}

.tweetInfo > p{
    margin: 0px;
    margin-left: 8px;
}

#trends>div>p{
    margin: 0px;
}

.noMoreChirps{
    text-align: center;
}

#composer>textarea{
    margin-top: 12px;
    width: 35vw;
    height: 150px;
    color-scheme: dark;
    resize: none;
    border: none;
    padding: 12px;
    font-size: 1em;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

#searcher>textarea{
    margin-top: 12px;
    width: 35vw;
    height: 1.5em;
    color-scheme: dark;
    resize: none;
    border: none;
    padding: 12px;
    font-size: 1em;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}


@media only screen and (min-width: 759px) {
    footer>div{
        display: none;
    }
    div#iconChirp{
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    div#desktopMenu {
        display: none;
    }
    main{
        margin: 0px;
    }

    header{
        padding: 0px;
        width: 0px;
    }
    div.tweet{
        max-width: 90vw;
        border: none;
        border-bottom:#8b8b8b2d 1px solid;
    }
    div.tweet>div.tweet{
        max-width: 90vw;
        border: #8b8b8b2d 1px solid
    }
    aside#sideBar{
        display: none;
    }
    #timelineSelect>a{
        border-top: none;
        border-left: none;
        border-right: none;
    }
}