/* Styles for element with class 'noMoreChirps' */
.noMoreChirps {
    text-align: center;
    /* Center-align text */
}

/* Styles for elements with IDs 'feed' and 'feedCompose' */
#feed,
#feedCompose {
    display: flex;
    /* Flex container */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center-align items horizontally */
    justify-content: center;
    /* Center-align items vertically */
}

/* Styles for elements with class 'chirp' */
.chirp, .chirpThread, .draft, .account {
    padding: 12px;
    /* Padding around the chirp */
    border-radius: 8px;
    /* Rounded corners */
    font-family: Outfit, Jost, Arial, Helvetica, sans-serif;
}
.account {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 8px;
    width: auto;
}

.draft{
    border: #8b8b8b2d 1px solid;
}

/* Styles for nested elements with class 'chirp' */
.chirp>.chirp, .chirpThread>.chirp, .account  {
    width: 95%;
    /* 95% width */
    margin: auto;
    /* Center-align horizontally */
}

/* Styles for element with class 'chirpInfo' */
.chirpInfo, .accountInfo {
    display: flex;
    font-family: Jost;
    /* Flex container */
    flex-direction: row;
    /* Arrange items horizontally */
    justify-content: space-between;
}

/* Styles for nested div elements within 'chirpInfo' */
.chirpInfo>div, .accountInfo>div {
    display: flex;
    /* Flex container */
    flex-direction: row;
    /* Stack items vertically */
    margin: 0;
    /* Remove default margin */
    justify-content: space-between;
}

/* Styles for paragraph elements within 'chirpInfo' */
.chirpInfo>div>div>p, .accountInfo>div>div>p {
    margin: 0;
    /* Remove default margin */
    padding-left: 8px;
    /* Left padding */
}

.chirpInteractThread{
    display: flex;
    padding-top: 12px;
    /* Flex container */
    flex-direction: column;
    /* Arrange items horizontally */
    width: 100%;
    font-family: Jost;
    border-top: 1px rgb(56, 56, 56) solid;
    font-family: Jost;
}

/* Styles for element with class 'chirpInteract' */
.chirpInteractThread>div {
    display: flex;
    /* Flex container */
    flex-direction: row;
    /* Arrange items horizontally */
    width: 100%;
    /* Full width */
    justify-content: space-between;
}

/* Styles for element with class 'mobileCompose' */
.mobileCompose {
    display: none;
    /* Hide element by default */
    position: fixed;
    align-items: end;
    justify-content: end;
    /* Fixed positioning */
    bottom:  calc(64px + env(safe-area-inset-bottom));
    /* Distance from the bottom */
    right: 18px;
    /* Distance from the right */
}

/* Styles for anchor elements within 'mobileCompose' */
.mobileCompose>a {
    text-decoration: none;
    /* Remove underline */
    border-color: rgba(0, 0, 0, 0);
    /* Transparent border color */
    background-color: var(--accent-color);
    /* Background color */
    margin-bottom: 4px;
    /* Bottom margin */
    margin-top: 4px;
    /* Top margin */
    text-align: center;
    /* Center-align text */
    color: var(--text-color); /* Text color */
    /* Text color */
    border: none;
    /* No border */
    border-radius: 8px;
    /* Rounded corners */
    font-size: 1em;
    /* Font size */
    padding: 8px;
    /* Padding */
    display: flex;
    /* Flex container */
}

/* Styles for anchor elements within 'mobileCompose' on hover */
.mobileCompose>a:hover {
    background-color: var(--hover-color);
    transition: .2s background-color;
    /* Background color on hover */
}

/* Styles for element with class 'chirpsee' */
.chirpsee {
    background-color: rgb(24, 15, 0);
    font-family: Jost;
    /* Background color */
    padding: 8px;
    /* Padding */
    border-radius: 4px;
    /* Rounded corners */
}

/* Styles for element with ID 'noMoreChirps' */
#noMoreChirps {
    margin-top: 24px;
    /* Top margin */
    padding-bottom: 24px;
    /* Bottom padding */
    display: flex;
    /* Flex container */
    justify-content: center;
    /* Center-align horizontally */
    align-items: center;
    /* Center-align vertically */
    flex-direction: column;
    /* Stack items vertically */
    margin-bottom: 10%;
    /* Bottom margin */
}

/* Styles for element with ID 'highTraffic' */
#highTraffic {
    width: 35vw;
    /* 35% of viewport width */
    text-align: center;
    /* Center-align text */
    background-color: rgb(24, 15, 0);
    /* Background color */
    padding-left: 12px;
    /* Left padding */
    padding-right: 12px;
    /* Right padding */
    color: #8b8b8b;
    /* Text color */
    border-radius: 0 0 8px 8px;
    /* Rounded corners */
    display: none;
    /* Hide element by default */
}

/* Styles for buttons within 'chirpInteract' */
.chirpInteractThread>div>button {
    background-color: #00000000;
    /* Transparent background */
    border: none;
    /* No border */
    font-size: 1em;
    /* Font size */
    padding: 8px;
    /* Padding */
    margin: 8px;
    /* Margin */
    text-align: center;
    /* Center-align text */
    margin-top: 12px;
    /* Top margin */
    transition: .2s linear;
    /* Smooth transition */
    color: white;
    /* Text color */
    border-radius: 8px;
    /* Rounded corners */
    color: #6b6b6b;
    margin-top: 0px;
}

/* Styles for buttons within 'chirpInteract' on hover */
.chirpInteracThreadt>div>button:hover {
    background-color: #6b6b6b4f;
    /* Semi-transparent background on hover */
    cursor: pointer;
    /* Cursor pointer on hover */
}

/* Styles for nested img elements within 'chirpInteract' and 'subText' */
.chirpInteractThread>div>button>img,
.subText>img {
    width: 1.2rem;
    /* Width */
    height: 1.2rem;
    /* Height */
    margin-right: 4px;
    /* Right margin */
    position: relative;
    /* Relative positioning */
    top: 4px;
    /* Offset from the top */
}

/* Styles for img elements with class 'verified' */
img.verified {
    width: 1.2rem;
    /* Width */
    height: 1rem;
    /* Height */
    position: relative;
    /* Relative positioning */
    top: 2px;
    /* Offset from the top */
}

/* Styles for element with ID 'chirps' */
div#chirps, div#posts {
    border-left: #8b8b8b2d 1px solid;
    /* Left border */
    border-right: #8b8b8b2d 1px solid;
    /* Right border */
    border-bottom: #8b8b8b2d 1px solid;
    /* Bottom border */
    width: 35vw;
    /* 35% of viewport width */
}

div#signUp{
    width: 35vw;
}

#inputSignup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inputSignup>button{
    margin-left: 12px;
}


#inputSignup>button{
    margin-left: 12px;
}


#inputSignup>button{
    margin-left: 12px;
}

div.drafts-container {
    width: 35vw;
}

#inputName{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


#inputName>input{
    width: 50%;
    margin-left: 4px;
    margin-right: 4px;
}

#timelineSelect{
    display: flex;
    /* Flex container */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Arrange items horizontally */
    width: 100%;
    /* Full width */
    position: sticky;
    /* Sticky positioning */
    top: 0;
    /* Stick to the top */
    background-color: #00000080;
    /* Black background */
    z-index: 12;
    /* Stack order */
}

/* Styles for elements with ID 'timelineSelect' and class 'title' */
.title {
    display: flex;
    /* Flex container */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Arrange items horizontally */
    width: 100%;
    /* Full width */
    position: sticky;
    /* Sticky positioning */
    top: 0;
    /* Stick to the top */
    background-color: #00000080;
    /* Black background */
    z-index: 12;
    /* Stack order */
}

#timelineSelect>div {
    display: flex;
    /* Flex container */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Arrange items horizontally */
    width: 100%;
    /* Full width */
    position: sticky;
    /* Sticky positioning */
    top: 0;
    /* Stick to the top */
    /* Black background */
    z-index: 12;
    /* Stack order */
}

/* Styles for anchor elements within 'timelineSelect' and 'title' */
#timelineSelect>a, #timelineSelect>button,
.title>a {
    text-align: center;
    /* Center-align text */
    width: 50%;
    /* 50% width */
    padding: 12px;
    /* Padding */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px rgb(56, 56, 56) solid;
    font-size: 1em;
    /* Bottom border */
    border-top: none;
    /* No top border */
}

#loadNew{
    background-color: var(--accent-color);
    -webkit-backdrop-filter: blur(20px); /* Webkit backdrop filter */
    backdrop-filter: blur(20px); /* Backdrop filter */
    border: none;
    padding: 8px;
    font-size: 1em;
    color: var(--text-color);
    border-radius: 8px;
    top: 62px;
    position: fixed;
    width: fit-content;
    z-index: 999;
}

#loadNew:hover{
    background-color: rgb(27, 27, 27) !important;
}

/* Styles for anchor elements within 'timelineSelect' on hover */
#timelineSelect>a:hover, #timelineSelect>button:hover {
    background-color: #8b8b8b2d;
    /* Semi-transparent background on hover */
    cursor: pointer;
    /* Cursor pointer on hover */
    text-decoration: none;
    /* Remove underline on hover */
}

/* Styles for element with class 'selected' */
.selected {
    border-bottom: 2px var(--accent-color) solid !important;
    /* Bottom border with increased thickness */
}

/* Styles for elements with class 'chirp' on hover */
.chirp:hover, .draft:hover {
    background-color: #8b8b8b2d;
    /* Semi-transparent background on hover */
    cursor: pointer;
    /* Cursor pointer on hover */
    transition: .2s linear;
    /* Smooth transition */
}

#back{
    width: 100% !important;
    color: white;
    text-align: left !important;
}

.chirpClicker, .chirpClicker>p, .chirpClicker>button{
    text-decoration: none !important;
}

.chirpInteract {
    display: flex;
    /* Flex container */
    flex-direction: row;
    /* Arrange items horizontally */
    width: 100%;
    /* Full width */
    justify-content: space-between;
    /* Space items evenly */
    border-top: 1px rgb(56, 56, 56) solid;
    /* Top border */
}

/* Styles for buttons within 'chirpInteract' */
.chirpInteract>button {
    background-color: #00000000;
    /* Transparent background */
    border: none;
    /* No border */
    font-size: 1em;
    /* Font size */
    padding: 6px;
    /* Padding */
    /* Margin */
    text-align: center;
    /* Center-align text */
    margin-top: 12px;
    /* Top margin */
    /* Smooth transition */
    color: white;
    /* Text color */
    border-radius: 8px;
    /* Rounded corners */
    color: #6b6b6b;
    transition: .2s linear;
}

/* Styles for buttons within 'chirpInteract' on hover */
.chirpInteract>button:hover {
    background-color: #6b6b6b4f;
    /* Semi-transparent background on hover */
    cursor: pointer;
    /* Cursor pointer on hover */
    transition: .2s linear;
}

.chirpInteract>a{
    flex: 1;
}

/* Styles for nested img elements within 'chirpInteract' and 'subText' */
.chirpInteract>button>img,
.subText>img {
    width: 1.2rem;
    /* Width */
    height: 1.2rem;
    /* Height */
    margin-right: 4px;
    /* Right margin */
    position: relative;
    /* Relative positioning */
    top: 4px;
    /* Offset from the top */
}

/* Styles for loading animation */
.lds-ring,
.lds-ring div {
    box-sizing: border-box;
    /* Border box model */
    color: var(--accent-color);
    /* Color */
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    width: 42px;
    height: 42px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 2px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.2s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.1s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#code{
    margin-top: 12px;
    width: 100%;
    max-width: 200px;
    height: 1.5em;
    color-scheme: dark;
    background-color: #8b8b8b2d;
    resize: none;
    border: none;
    padding: 8px;
    font-size: 1em;
    font-family: Jost, Arial, Helvetica, sans-serif;
    border-radius: 8px;
    margin-bottom: 12px;
}